いいね一覧
<% @favorite_posts.each do |post| %>
  <div>
    <% if post.customer.profile_image.attached? %>
      <%= image_tag post.customer.profile_image, size: "50x50" %>
    <% else %>
      <%= image_tag asset_path('no_image.jpg'), size: "50x50" %>
    <% end %>
  </div>

  <div>
    <%= post.customer.name %>
  </div>

  <div>
    <%= image_tag post.image, size: "50x50" %>
  </div>

  <div>
    <%= "#{post.title}cc" if !post.title.blank? %>
  </div>

  <div id="favorite_buttons_<%= post.id %>">
    <% if current_customer.favorites.exists?(post_id: post) %>
      <%= render 'public/favorites/unfavorite_button', post: post %>
    <% else %>
      <%= render 'public/favorites/favorite_button', post: post %>
    <% end %>
  </div>

  <div>
    <%= link_to "#{post.comments.count} コメント", public_post_path(post.id) %>
  </div>
<% end %>