<div class="container">
  <header class="row line1 justify-content-center">
    <div class="withdraw">
      <% if customer_signed_in? && @customer == current_customer %>
        <% unless @customer.email == "test@test.com" then %>
          <div>
            <%= link_to "退会する", public_customer_path(current_customer.id), class: "destroy-customer btn-gradient-flat-customer-destroy", method: :delete, "data-confirm" => "本当に退会しますか？" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div>
          <% if @customer.profile_image.attached? %>
            <%= image_tag @customer.profile_image, class: "rounded-circle", size: "150x150" %>
          <% else %>
            <%= image_tag asset_path('no_image.jpg'), class: "rounded-circle", size: "150x150" %>
          <% end %>
        </div>
        <div class="profile-block">
          <div>
            <% if @customer.name != "GUEST" %>
              <% if @customer == current_customer %>
                <p><%= link_to "プロフィール編集", edit_public_customer_path(@customer) %></p>
              <% end %>
            <% end %>
          </div>
          <div>
            <p>
              <%= link_to "フォロワー", public_customer_followers_path(@customer.id) %><%= @customer.followers.count %>
              <%= link_to "フォロー", public_customer_followings_path(@customer.id), style: "margin-left: 10px;" %><%= @customer.followings.count %>
            </p>
          </div>
          <div>
            <% if customer_signed_in? && current_customer != @customer %>
              <% if current_customer.following?(@customer) %>
                <p>
                  <%= link_to "フォロー外す", public_customer_relationships_path(@customer.id), method: :delete %>
                </p>
              <% else %>
                <p>
                  <%= link_to "フォローする", public_customer_relationships_path(@customer.id), method: :post %>
                </p>
              <% end %>
            <% end %>
          </div>
          <div>
            <% if @customer != current_customer %>
              <p>
                <%= link_to "お気に入り記事", favorites_public_customer_path(@customer) %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <p class="name"><%= @customer.name %></p>
        <p><%= @customer.body %></p>
      </div>
    </div>
  </header>
    <div
      <div class="row pr-2 pl-2 line2 customer-show-posts">
        <% @customer.posts.each do |customer_post| %>
          <% if customer_post.image.attached? %>
            <div class="col-md-4" style="padding: 0;">
              <%= link_to public_post_path(customer_post) do %>
                <div style="margin: 1px"><%= image_tag customer_post.image, size: "370x370", style: "width: 100%;" %></div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>