<%= image_tag @post.image, size: "500x500" %>

<%= link_to @post.customer.name, public_customer_path(@post.customer.id) %>

<%= "#{@post.title}cc" if !@post.title.blank? %>

<%= @post.body %>

<% if @post.customer == current_customer %>
  <%= link_to "編集", edit_public_post_path(@post.id), class: "btn-gradient-flat" %>
  <%= link_to "削除", public_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-gradient-flat" %>
<% end %>

<div>
  <p>
    <div id="favorite_buttons_<%= @post.id %>">
      <% if current_customer.favorites.exists?(post_id: @post) %>
        <%= render 'public/favorites/unfavorite_button', post: @post %>
      <% else %>
        <%= render 'public/favorites/favorite_button', post: @post %>
      <% end %>
    </div>
  </p>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <% if comment.customer.profile_image.attached? %>
      <%= image_tag comment.customer.profile_image, size: '100x100' %>
    <% else %>
      <%= image_tag asset_path('no_image.jpg'), size: "100x100" %>
    <% end %>
    <%= comment.customer.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.customer == current_customer %>
      <%= link_to "削除", public_post_comment_path(@post.id,comment.id), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment], url: public_post_comments_path(@post) do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>