<% if customers.exists? %>
  <% customers.each do |customer| %>
    <tbody>
      <tr>
        <td>
            <% if customer.profile_image.attached? %>
              <%= link_to public_customer_path(customer.id) do %>
                <%= image_tag customer.profile_image, class: "rounded-circle", size: "50x50" %>
              <% end %>
            <% else %>
              <%= link_to public_customer_path(customer.id) do %>
                <%= image_tag asset_path('no_image.jpg'), class: "rounded-circle", size: "50x50" %>
              <% end %>
            <% end %>
            <%= link_to customer.name, public_customer_path(customer.id), class:"font" %>
        </td>
        <td>
          <% if customer_signed_in? && current_customer != customer %>
            <% if current_customer.following?(customer) %>
              <%= link_to "フォロー中", public_customer_relationships_path(customer.id), class:"font", method: :delete %>
            <% else %>
              <%= link_to "フォロー", public_customer_relationships_path(customer.id), class:"font", method: :post %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>