<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <% if @range == "Customer" %>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td>
            <% if customer.profile_image.attached? %>
              <%= link_to public_customer_path(customer.id) do %>
                <%= image_tag customer.profile_image, size: "100x100" %>
              <% end %>
            <% else %>
              <%= link_to public_customer_path(customer.id) do %>
                <%= image_tag asset_path('no_image.jpg'), size: "100x100" %>
              <% end %>
            <% end %>
            <%= link_to customer.name, public_customer_path(customer.id) %>
          </td>
          <td><%= customer.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% elsif @range == "PostTitle" %>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to public_post_path(post) do %>
              <%= image_tag post.image, size: "100x100" %>
            <% end %>
          </td>
          <td><%= link_to "#{post.title}cc", public_post_path(post) %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to public_post_path(post) do %>
              <%= image_tag post.image, size: "100x100" %>
            <% end %>
          </td>
          <td><%= link_to post.body, public_post_path(post) %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>