<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがCustomerの時 -->
  <% if @range == "Customer" %>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td>
            <% if customer.profile_image.attached? %>
              <%= link_to public_customer_path(customer.id) do %>
                <%= image_tag customer.profile_image, size: "50x50" %>
              <% end %>
            <% else %>
              <%= link_to public_customer_path(customer.id) do %>
                <%= image_tag asset_path('no_image.jpg'), size: "50x50" %>
              <% end %>
            <% end %>
            <%= link_to customer.name, public_customer_path(customer.id) %>
          </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがCustomerではない時(= 検索対象モデルがPostの時) -->
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to public_post_path(post) do %>
              <%= image_tag post.image, size: "50x50" %>
            <% end %>
          </td>
          <td><%= link_to post.title, public_post_path(post) %></td>
          <td><%= post.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>