<h4>会員一覧</h4>

<table>
  <tbody>
    <% @customers.each do |customer| %>
      <% unless customer.name == "GUEST" then %>
        <tr>
          <td>
              <% if customer.profile_image.attached? %>
                <%= link_to admins_customer_path(customer.id) do %>
                  <%= image_tag customer.profile_image, size: "100x100" %>
                <% end %>
              <% else %>
                <%= link_to admins_customer_path(customer.id) do %>
                  <%= image_tag asset_path('no_image.jpg'), size: "100x100" %>
                <% end %>
              <% end %>
              <%= link_to customer.name, admins_customer_path(customer.id) %>
          </td>
          <td>
            <% unless customer.email == "test@test.com" then %>
              <div class="mt-3">
                <%= link_to "退会",admins_customer_path(customer.id), class: "destroy-user btn-gradient-flat-customer-destroy", method: :delete, "data-confirm" => "本当に退会しますか？" %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>