<h1>いいね一覧</h1>
<% current_customer.favorites.each do |favorite| %>

  <div>
    <% if favorite.post.customer.profile_image.attached? %>
      <%= image_tag favorite.post.customer.profile_image, size: "50x50" %>
    <% else %>
      <%= image_tag asset_path('no_image.jpg'), size: "50x50" %>
    <% end %>
  </div>

  <div>
    <%= link_to favorite.post.customer.name, public_customer_path(favorite.post.customer_id) %>
  </div>

  <div>
    <%= image_tag favorite.post.image, size: "50x50" %>
  </div>

  <div>
    <%= "#{favorite.post.title}cc" if !favorite.post.title.blank? %>
  </div>

  <div id="favorite_buttons_<%= favorite.post.id %>">
    <% if current_customer.favorites.exists?(post_id: favorite.post) %>
      <%= render 'public/favorites/unfavorite_button', post: favorite.post %>
    <% else %>
      <%= render 'public/favorites/favorite_button', post: favorite.post %>
    <% end %>
  </div>

  <div>
    <%= link_to "#{favorite.post.comments.count} コメント", public_post_path(favorite.post.id) %>
  </div>
<% end %>