<%# 新規登録画面　%>
<div class="bg_image">
  <div class="bg_textbox">
    <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <div class="field text-center">
        <%= f.label :名前, style:"font-weight:bold; margin-right:178px; margin-top:20px;" %>
        <%= f.text_field :name, autofocus: true, size: "40" %>
      </div>

      <div class="field text-center">
        <%= f.label :メールアドレス, style:"font-weight:bold; margin-right:100px;" %>
        <%= f.email_field :email, autocomplete: "email", size: "40" %>
      </div>

      <div class="field text-center">
        <%= f.label :パスワード（６文字以上）, style:"font-weight:bold; margin-right:18px;" %>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", size: "40" %>
      </div>

      <div class="field text-center">
        <%= f.label :パスワード（確認用）, style:"font-weight:bold; margin-right:50px;" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", size: "40" %>
      </div>
      <br>
      <div class="actions text-center">
        <%= f.submit "サインアップ", class: "btn-gradient-flat-welcome", style:"font-weight:bold;" %>
      </div>
    <% end %>
  </div>
</div>