<header class="sticky-top border-bottom border-dark" style="background-color: #000000;">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
      <%= link_to public_root_path do %>
        <%= image_tag 'cCYAEH!!_logo.png', style: "width: 220px;" %>
      <% end %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto header-menu">
          <% if customer_signed_in? %>
            <!--customerログイン時-->
            <li><%= render "public/searches/search" %></li>
            <li>
              <%= link_to new_public_post_path do %>
                <i class="far fa-plus-square size"></i>
                <div style="color: #ffffff;">新規投稿</div>
              <% end %>
            </li>
            <li>
              <% if current_customer.profile_image.attached? %>
                <%= link_to public_customer_path(current_customer) do %>
                  <%= image_tag current_customer.profile_image, class: "rounded-circle", size: "40x40" %>
                  <div style="color: #ffffff;">マイページ</div>
                <% end %>
              <% else %>
                <%= link_to public_customer_path(current_customer) do %>
                  <%= image_tag asset_path('no_image.jpg'), class: "rounded-circle", size: "40x40" %>
                  <div style="color: #ffffff;">マイページ</div>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to public_posts_path do %>
                <i class="fas fa-home size"></i>
                <div style="color: #ffffff;">ホーム</div>
              <% end %>
            </li>
            <% if customer_signed_in? && unchecked_notifications.any? %>
              <i class="fa fa-circle" style="margin-bottom: 50px; color: lightgreen;"></i>
            <% end %>
            <li>
              <%= link_to public_notifications_path do %>
                <i class="fas fa-bell size"></i>
                <div style="color: #ffffff;">通知</div>
              <% end %>
            </li>
            <li>
              <%= link_to public_favorites_path do %>
                <i class="fas fa-heart size"></i>
                <div style="color: #ffffff;">いいね一覧</div>
              <% end %>
            </li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn-gradient-flat" %></li>
          <% else %>
            <!--customerログアウト時-->
            <li><%= link_to "ゲストログイン（閲覧用）", customers_guest_sign_in_path, method: :post, class: "btn-gradient-flat"%></li>
            <li><%= link_to "新規登録", new_customer_registration_path, class: "btn-gradient-flat"%></li>
            <li><%= link_to "ログイン", new_customer_session_path, class: "btn-gradient-flat"%></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>