<header class="sticky-top border-bottom border-dark" style="background-color: #000000;">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
      <%= link_to public_root_path do %>
        <%= image_tag 'cCYAEH!!_logo.png', style: "width: 220px;" %>
      <% end %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto header-menu">
          <% if customer_signed_in? %>
            <!--customerログイン時-->
            <li><%= render "public/searches/search" %></li>
            <li><%= link_to "新規投稿", new_public_post_path, class: "btn-gradient-flat-newpost" %></li>
            <li><%= link_to "マイページ", public_customer_path(current_customer.id), class: "btn-gradient-flat" %></li>
            <li><%= link_to "投稿一覧", public_posts_path, class: "btn-gradient-flat" %></li>
            <li><%= link_to "いいね一覧", public_favorites_path, class: "btn-gradient-flat" %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn-gradient-flat" %></li>
          <% else %>
            <!--customerログアウト時-->
            <li><%= link_to "ゲストログイン（閲覧用）", customers_guest_sign_in_path, method: :post, class: "btn-gradient-flat"%></li>
            <li><%= link_to "About", public_about_path, class: "btn-gradient-flat"%></li>
            <li><%= link_to "新規登録", new_customer_registration_path, class: "btn-gradient-flat"%></li>
            <li><%= link_to "ログイン", new_customer_session_path, class: "btn-gradient-flat"%></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>