<!DOCTYPE html>
<html>
  <head>
    <title>cCYAEH!!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ログインしているアカウントによってheaderを変える-->
    <% if admin_signed_in? %>
    <!--adminアカウントの時のheader-->
      <%= render 'admins/homes/header' %>
    <% else %>
    <!--ログイン前とcustomerでのログイン時-->
      <%= render 'layouts/header' %>
    <% end %>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
