<!DOCTYPE html>
<html>
  <head>
    <title>cCYAEH!!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ログインしているアカウントによってheaderを変える-->
    <% if admin_signed_in? %>
    <!--adminアカウントの時のheader-->
      <%= render 'admins/homes/header' %>
    <% else %>
    <!--ログイン前とcustomerでのログイン時-->
      <%= render 'layouts/header' %>
      <% if customer_signed_in? && unchecked_notifications.any? %>
        <i class="fa fa-circle" style="color: gold;"></i>
      <% end %>
      <li>
        <%= link_to "NOTICE", public_notifications_path, class: "btn-default" %>
      </li>
    <% end %>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
